/Cola Management/nbproject/private/
/Cola Library/nbproject/private/
/Calculator application/nbproject/private/
/Calculator application/build/
/Cola Library/build/
/Cola Library/dist/
/Cola Management/build/
/Calculator application/dist/